<div class="main-container">
  <div class="header">
    <h2>Documents</h2>
    <h3>Search documents or select category</h3>
  </div>
  <div class="flex">
    <div class="nav-list">
      <div class="nav-item active">All</div>
      <div class="nav-item">Financial</div>
      <div class="nav-item">Technical</div>
      <div class="nav-item">Marketing</div>
      <div class="nav-item">Human&nbsp;Resources</div>
    </div>
    <div class="serach-container">
      <div class="search-bar">
        <input type="text" placeholder="Start typing document name..." />
      </div>
      <div class="document-list">
        <div class="document-item" *ngFor="let document of documents">
          <div class="document-container">
            <div class="document-category" [ngStyle]="{'background-color':document.color}">{{document.category}}</div>
            <div class="document-detail">{{document.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>